* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
  position: relative;
  color: #000;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #808080;
}
.button,
button,
select {
  border: 1px #aaa solid;
  background: #f0f0f0;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  min-width: 140px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 0px;
  -webkit-appearance: none;
}
.button:active,
button:active {
  padding-left: 4px;
}
.button:disabled,
button:disabled {
  color: #b6b6b6;
  padding-left: 0px;
}
a.button {
  padding-top: 6px;
}
.link {
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
.content {
  max-width: 100%;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.phones {
  margin-top: 20px;
}
.phones .phone {
  height: 220px;
}
.phones .phone .info {
  float: left;
  width: 66px;
  height: 120px;
  text-align: center;
}
.phones .phone .info .preview_frame {
  position: absolute;
  left: 8px;
  top: 14px;
  width: 50px;
  height: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333;
}
.phones .phone .info .deviceimage {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("/images/ic_phone_android_black_132@2x.png");
  background-repeat: no-repeat;
  background-size: 66px 103px;
  width: 66px;
  height: 120px;
}
.phones .phone .info .devicename {
  font-size: 10px;
  top: 65px;
  color: #fff;
}
.phones .phone .info .client_id {
  top: 95px;
  font-size: 8px;
}
.phones .phone .recordcontrols {
  float: left;
  height: 100%;
}
.phones .phone .recordcontrols .recordbutton {
  top: 25px;
  background-image: url("/images/record_132@2x.png");
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 4px;
}
.phones .phone .state {
  position: absolute;
  top: 130px;
  left: 0px;
  background-color: #000;
  width: 120px;
  height: 20px;
}
.phones .phone .state .recordingicon {
  position: absolute;
  top: 6px;
  left: 3px;
  background-color: #f00;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: none;
}
.phones .phone .state .statetext {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #f3f3f4;
  font-size: 15px;
  font-weight: 100;
  padding: 2px;
}
.phones .phone .uploadspeed {
  position: absolute;
  top: 166px;
  left: 0px;
  width: 120px;
  height: 20px;
  background-color: #000;
  color: #ff8101;
  font-size: 15px;
  font-weight: 100;
  padding: 2px;
}
.phones .phone .uploadgraph {
  float: left;
  margin-left: 4px;
  height: 100%;
  width: 600px;
}
.phones .phone .uploadgraph .chart {
  width: 100%;
  height: 100%;
  background-color: #ff0;
}
.phones .phone .actions {
  float: left;
  width: 170px;
  height: 100%;
}
.phones .phone .actions button,
.phones .phone .actions select,
.phones .phone .actions input {
  margin-left: 4px;
  width: 160px;
  text-align: left;
  margin-bottom: 6px;
  display: block;
  float: left;
}
.phones .phone.recording .state .recordingicon {
  display: block;
}
.phones .phone.recording .state .statetext {
  left: 16px;
}
.phones .phone.recording .recordcontrols .recordbutton {
  opacity: 0.4;
}
.phones .phone.disconnected {
  background-color: #f00;
}
.record.stop {
  background-image: url("/images/record_stop_132@2x.png");
}
