@import common

body
	background-color #f2eee4

.content
	max-width 100%
	width 1328px
	margin-left auto
	margin-right auto


.topbar
	background-color #C92A48
	color white
	height 40px
	padding 11px


.commoncontrols
	margin-top 8px

	input.hidePhonesAfterTime
		height 32px
		width 42px
		text-align center
		font-size 14px
		margin-left 4px
		margin-right 4px

	button.setHidePhonesAfterTime
		margin-left 4px
		min-width 50px

.phones
	margin-top 20px
	margin-bottom 100px

	.phone
		border-bottom 1px solid #203540
		margin-top 20px
		overflow hidden
		height auto


		.info
			width 100%
			height 30px
			line-height 30px
			background-color #002B41
			overflow hidden
			padding-left 8px
			border-radius 2px


			.moreinfo
				font-size 13px
				color white
				width 100%
				position absolute
				text-align center


			.devicename
				font-size 19px
				color white
				float left
				position absolute
				cursor pointer

				img.osimage
					width 20px
					height 20px
					margin-right 4px
					margin-top 4px
					display block
					float left

				.devicenametext
					float left

				.username
					input
						margin-left 4px
						display none
						height 32px
						font-size 14px
						width 260px

			.devicename.showEnterUsernameField
				.username
					input
						display inline
					.value
						display none






			.client_id
				font-size 19px
				color white
				float right

			button.hidephone
				float right
				min-width 44px
				margin-left 4px
				height 24px
				margin-top 3px
				margin-right 3px


		.phonecontrols
			margin-top 8px
			vertical-align top
			height auto

			.recordcontrols, .previewimage, .log, .uploadgraph, .actions
				float left
				height 150px
				margin-left 14px
				margin-bottom 14px

			.recordcontrols
				width 120px

				.recordbutton
					background-image url("/images/record_132@2x.png")
					background-size 50px 50px
					width 50px
					height 50px
					cursor pointer

				.state
					margin-top 10px
					background-color #002B41
					width 120px
					height 20px
					border-radius 2px

					.recordingicon
						position absolute
						top 6px
						left 3px
						background-color red
						border-radius 50%
						height 10px
						width 10px
						display none

					.statetext
						position absolute
						top 0px
						left 0px
						color #F3F3F4
						font-size 13px
						font-weight 100
						padding 3px

				.uploadspeed
					margin-top 10px
					width 120px
					height 20px
					background-color #002B41
					color #FF8101
					font-size 13px
					font-weight 100
					padding 3px
					border-radius 2px

			.previewimage
				width 200px
				padding 4px
				background-size contain
				background-repeat no-repeat
				background-position center
				background-color #002B41
				border-radius 2px
				cursor pointer

			.log
				width 484px
				border-radius 2px

				.content
					width 100%
					height 100%
					background-color white
					color black
					font-size 10px
					overflow scroll
					padding 4px


				.delete
					background-image url("/images/delete_36x36@2x.png")
					background-size 26px 26px
					width 26px
					height 26px
					position absolute
					right 8px
					bottom 8px
					cursor pointer

			.uploadgraph
				width 300px
				border-radius 2px

				.chart
					width 100%
					height 100%
					background-color white
					border-radius 2px


			.actions
				width 140px
				height auto
				button, select, input
					width 100%
					text-align left
					margin-bottom 6px
					display block
					float left
					font-size 10px
					height 20px

					img.image
						width 14px
						height 14px
						margin-right 4px
						float left
						display block
						margin-top 2px

					.text
						line-height 20px
						float left



				.more
					display none

	.phone.recording
		.phonecontrols
			.recordcontrols
				.recordbutton
					background-image url("/images/stop-record_132@2x.png")
				.state
					.recordingicon
						display block
					.statetext
						left 16px


	.phone.disconnected
		opacity 0.50

	.phone.isBackground
		opacity 0.50


	.phone.hidden
		height 30px





.record.stop
	background-image url("/images/record_stop_132@2x.png")
